<html>
<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Character encoding scheme -->
		<meta charset="UTF-8"> 
		<title></title>
	</head>
	<body>
		<center>
			<h1> SECURE TEXT TRANSFER </h1><br><br>
		    <table>
		           <tr>
				           
                           <td><a href='file-directory'><button class="btn" style="margin-right: 10px;">file-directory</button></a></td>
				           
                   </tr>
		    </table>
			<br><br>
			<div class="container" style="font-size:25px;">
				<p>The TEXT FILE (OR) the IMAGE FILE has been uploaded SUCCESSFULLY.</p>
				<br>
					Click on the file directory.
					<br>To download the file.
					<br>The CIPHER TEXT will be downloaded.
			</div>
		</center>
	</body>
</html>